#logo {
    height: 92px;
    width: 272px;
    display: block;
    margin: 0 auto;
    padding-top:109px;
}

.google_logo {
    margin-top:89px;
}


button {
    display: inline-block;
    margin: auto;
    border: none;
    padding: 0 16px;
    height: 36px;
    font-size: 13px;
    color: #757575;
    font-weight: bold;
    font-family: arial, sans-serif;
    background-color: #f2f2f2;
    border-radius: 2px;
}

button:hover {
    box-shadow: 0 0.2px 0.2px 0 #808080;
}

#searchbar {
    display: block;
    margin: 0 auto;
    width: 350px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: black; 
    font-size: 13px
}

li a:hover {
    text-decoration: underline;
}

.footer {
    background-color: #f2f2f2;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}